@import 'src/global-styles/globals.scss';

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid red;

  &__row {
    border: 1px solid green;
  }

  &__header-cell {
    width: calc(100% / 7);
    color: white;
    background-color: #2f74b5;
    padding: 5px;
    border: 0;
  }
}
