$color-primary: #2f74b5;
$color-secondary: #999999;

$color-black: #000000;
$color-grey-01: lighten($color-black, 10%);
$color-grey-02: lighten($color-black, 20%);
$color-grey-03: lighten($color-black, 30%);
$color-grey-04: lighten($color-black, 40%);
$color-grey-05: lighten($color-black, 50%);
$color-grey-06: lighten($color-black, 60%);
$color-grey-07: lighten($color-black, 70%);
$color-grey-08: lighten($color-black, 80%);
$color-grey-09: lighten($color-black, 90%);
$color-white: #ffffff;
