@import 'src/global-styles/globals.scss';

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;

  &__head {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-primary;
    h1 {
      margin: 0;
    }
    span {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__left-arrow,
  &__right-arrow {
    polygon {
      fill: $color-primary;
    }
    cursor: pointer;
  }

  &__left-arrow {
    transform: rotateZ(-90deg);
  }

  &__right-arrow {
    transform: rotateZ(90deg);
  }
}
