@import 'src/global-styles/globals.scss';

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $color-grey-03;

  &__header-cell {
    width: calc(100% / 7);
    color: $color-white;
    background-color: $color-primary;
    padding: 5px;
    border: 0;
  }

  &__body-table-data {
    border: 1px solid $color-grey-03;
    background-color: $color-white;
    width: calc(100% / 7);

    &:hover {
      background-color: darken($color-white, 5%);
    }

    &:first-child,
    &:last-child {
      background-color: $color-grey-09;
      color: $color-primary;

      &:hover {
        background-color: darken($color-grey-09, 5%);
      }
    }
  }
}
